@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* ### Primary */

  --soft-blue: #8bacda;
  --cyan: #00fff7;

  /* ### Neutral */

  --dark-blue-1: #0d192b; /*(main BG)*/
  --dark-blue-2: #14253d; /*(card BG)*/
  --dark-blue-3: #2f415b; /*(line)*/
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
}

img {
  max-width: 100%;
}
